#container_card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 280px;
    border: 1px solid white;
    border-radius: 15px;
    background-color:#f6cebe;
    padding: 25px 0;
    max-width: 500px;
    flex-grow: 1;
    text-align: center;
    box-shadow: 1px 1px 1px black;
}


#container_card img{
    width: 100%;
    max-width: 500px;
    height: 220px;
}

#container_card h3{
    height: 30px;
    margin: 0 10px;
}

#container_card p{
    margin: 0 10px;
}

#img_projeto{
    width: 100%;
    height: 100%;
    position: absolute;
}
#gif_projeto{
    display:none
}