#container_categorias{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}


#container_categorias button{
    padding: 20px;
    max-width: 180px;
    height: 50px;
    border-radius: 18px;
    border: 1px solid rgb(184, 181, 181);
    box-shadow: 2px 1px 1px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    transition: 0.5s;
}

#container_categorias button:hover{
    transform: scale(1.15);
    cursor: pointer;
}

#container_categorias button img{
    min-width: 30px;
    width: 100%;
    min-height: 30px;
    height: 100%;
}

.btnApagado{
    background-color: #aabe97;
    color: black;
}

.btnAcesso{
    background-color: #453059;
    color: #bacfa6;
}

@media(max-width: 1294px){
    #container_categorias button{
        max-width: 150px;
        padding: 5px;
        height: 40px;
    }
    #container_categorias button img{
        min-height: 20px;
        min-width: 20px;
        width: 20px;
        height: 20px;
    }
}