.section_sobre{
    background-color: #a5626e;
    display: flex;
    justify-content: center;
    gap: 50px;
    color: rgb(224, 224, 224);
    position: relative;
}

.section_sobre img{
    max-height: 400px;
    width: 100%;
    max-width: 450px;
    border-radius: 30px;
    border: 2px solid #1f6384;
}

#container_sobre{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#container_txt{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#icon1 *,
#icon2 *{
    font-size: 50px;
    color: rgba(255, 255, 255, 0.6);
}

#icon1{
    position: absolute;
    top: 35px;
    left: 30px;
}

#icon2{
    position: absolute;
    bottom: 35px;
    right: 30px;
}
