#menu_header{
    width: 100%;
    height: 8vh;
    background-color:#093141;
    border-bottom: 1px solid white;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu_header ul{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

#menu_header ul li{
    flex-grow: 1;
    padding-left: 20px;
}

#menu_header ul li:first-child{
    list-style: none;
}

#menu_header ul li a{
    text-decoration: none;
    color: white;
    padding: 8px;
    border-radius: 15px;
}

#menu_header ul li a:hover{
    background-color: #bacfa6;;
    color: #453059;
    transition: 0.3s;
}
